.header {
  background-color: @brand-color;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    color: @white;
  }

  &__link {
    font-size: @font-size-large;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
}
