.page {
  padding-top: 6rem;

  &__heading {
    margin: 0 0 4rem;
    font-size: 3.2rem;
    line-height: .75;
    color: @off-black;
  }

  &__home {
    &__menu-heading {
      margin: 0 0 2rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: .75;
      color: @off-black;
    }

    .with-sidebar {
      .sidebar {
        .cart-widget {
          position: sticky;
          top: 4rem;
        }
      }
    }
  }
}
