.product-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &__error {

  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: @white;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &__item {
    @margin: 1.5rem;
    width: calc(100% / 3 - @margin * 2 / 3);
    margin-right: @margin;
    margin-bottom: @margin;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
