* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: @m-size;
  font-family: @Roboto;
  color: @dark-grey;
  line-height: 1.6;
  background-color: @off-white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: @RobotoSlab;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }
}

.app-container {
  height: 100%;
}

.is-active {
  font-weight: bold;
}

.layout-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .layout-component-wrap {
    flex-grow: 1;
  }
}

.content-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 @m-size;
}

.with-sidebar {
  display: flex;

  .content {
    flex-grow: 1;
  }

  .sidebar {
    flex: 0 0;
    flex-basis: calc(25% - 4rem);
    margin-left: 4rem;
  }
}

.btn {
  &:disabled {
    opacity: .5;
  }

  &.-pill {
    padding: 1.5rem 2.5rem;
    color: @white;
    background-color: @brand-color;
    border: none;
    border-radius: 2.4rem;

    &.-cancel {
      color: @off-black;
      background-color: @off-white;
      border: .1rem solid @light-grey;
    }
  }
}
