* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: @m-size;
  font-family: Helvetica, Arial, sans-serif;
  color: @dark-grey;
  line-height: 1.6;
  background-color: @off-white;
}

.is-active {
  font-weight: bold;
}

.content-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 @m-size;
}
