// Colors
@black: #000000;
@off-black: #333333;
@light-grey: #B8B8B8;
@grey: #666;
@dark-grey: #141414;
@brand-color: #FDBD10;
@off-white: #F7F7F7;
@white: #FFFFFF;

// Font Size
@font-size-large: 1.8rem;
@font-size-small: 1.4rem;

@Roboto: Roboto, sans-serif;
@RobotoSlab: Roboto Slab, serif;

// Spacing
@s-size: 1.2rem;
@m-size: 1.6rem;
@l-size: 3.2rem;
@xl-size: 4.8rem;

// Breakpoints
@desktop-breakpoint: 45rem;
